@import "./libraries/smart_grid/smart-grid.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@include reset();
@font-face {
   font-family: "Myriad Pro";

   src: url("fonts/MyriadPro-Bold.woff");
}

@font-face {
   font-family: "Georgia";

   src: url("fonts/Georgia-Italic.woff");
}

$dark-blue: #21424B;
$green: #2FAB6C;
$button-darken-value: 8%;
html {
   font-family: Lato;
   font-size: 16px;

   @include xlg(font-size,
   15px);
   @include md(font-size,
   14px);
   @include xs(font-size,
   12px);
}

body {
   max-width: $break_xlg;
   margin: 0 auto;
}

.h1 {
   text-align: center;
   text-transform: uppercase;

   color: #FFF;

   font-family: "Myriad Pro";
   font-size: 4.5rem;
}

.h2 {
   text-align: center;

   color: #FFF;

   font-family: Georgia;
   font-size: 2rem;
   line-height: 2.938rem;
}

.h3 {
   text-align: center;

   color: #383737;

   font-family: "Lato";
   font-size: 1.5rem;
   font-weight: 700;
}

a {
   text-decoration: none;

   color: inherit;
}

p {
   margin: 1.3rem 0;

   text-align: center;

   color: #A2A2A2;

   font-family: "Lato";
   font-size: 1.17rem;
   font-weight: 300;
}

.button {
   position: relative;
   left: 1.2rem;

   display: flex;

   width: 98%;
   height: 7.5rem;

   cursor: pointer;
   transform: skew(-13deg);
   pointer-events: all;

   color: #FFF;
   background: #21424B;

   align-items: center;
   @include sm(height,
   4.5rem);
   justify-content: center;
   &:hover {
      background: darken($dark-blue, $button-darken-value);
   }
   &__text {
      position: relative;
      left: 5.8rem;

      transform: skew(13deg);
      text-align: center;
      text-transform: uppercase;

      color: #FFF;

      font-size: 1.375rem;
      font-weight: 700;

      @include lg(position,
      static);
   }
   &__green {
      left: -.3rem;

      background: $green;
      &:hover {
         background: darken($green, $button-darken-value);
      }
      .button__text {
         left: -5.4rem;
      }
   }
}

::placeholder {
   color: #868686;

   font-size: .938rem;
   font-weight: 700;
}

.yellow {
   color: #F9D423;
   background: #F9D423;

   stroke: #F9D423;
}

.grey {
   color: #7F8C8D;
   background: #7F8C8D;

   stroke: #7F8C8D;
}

.red {
   color: #F85F40;
   background: #F85F40;

   stroke: #F85F40;
}

.green {
   color: #1ABC9C;
   background: #1ABC9C;

   stroke: #1ABC9C;
}

.blue {
   color: #1F89BA;
   background: #1F89BA;

   stroke: #1F89BA;
}

.navigation {
   display: flex;

   border-bottom: 1px #2A2A2C solid;

   align-items: center;
   @include wrapper($noFields: true);
   justify-content: space-between;
   &__logo {
      &__image {
         position: relative;
         top: .2rem;
         left: .35rem;

         width: 100%;
         max-width: 8.125rem;
      }
   }
   &__list {
      @include row-flex();
      @include sm(max-width,
      20rem);
      justify-content: flex-end;
      &__item a {
         display: block;

         padding: 2.2rem 0;

         cursor: pointer;
         text-align: center;

         color: #FFF;

         font-size: 1rem;
         font-weight: 400;

         @include sm(padding,
         .5rem);
         &:after {
            position: relative;
            top: 2.15rem;

            display: block;

            height: 1px;

            content: "";

            background: transparent;

            @include sm(display,
            none);
         }
         &:hover:after {
            background: #FFF;
         }
      }
      &__item {
         @include size-sm(4);
         &:not(:last-child) {
            margin-right: 4.3rem;

            @include sm(margin-right,
            0rem);
         }
      }
   }
}

.header {
   background: linear-gradient(rgba(0, 0, 0, .83), rgba(0, 0, 0, .83)), url("images/header_background.jpg");
   background-size: cover;

   @include wrapper-full();
   .h1 {
      margin: 21.3% auto .2rem auto;
   }
   .h2 {
      padding-bottom: 22.1%;
   }
}

.authorization {
   display: flex;
   overflow: hidden;

   @include wrapper-full($noFields: true);
   &__login    ,&__register {
      width: 50%;

      pointer-events: none;

      background: $dark-blue;
      &:hover {
         background: darken($dark-blue, $button-darken-value);
      }
   }
   &__register {
      background: $green;
      &:hover {
         background: darken($green, $button-darken-value);
      }
   }
}

.chooseDomain {
   padding-top: 5.35rem;
   padding-bottom: 5.66rem;

   @include wrapper();
   &__inputs {
      display: flex;

      max-width: 53.9rem;
      margin: 2.9rem auto 0 auto;
      padding: .48rem .8rem;

      border: #D9D9D9 1px solid;

      align-items: center;
      &__select-zone    ,&__www {
         margin: 0 1rem .2rem .2rem;

         color: #D9D9D9;

         font-size: 1rem;
         font-weight: 400;
      }
      &__domain-name {
         width: 85%;
         padding-left: 1rem;

         border: #D9D9D9 1px solid;
         border-top: none;
         border-bottom: none;

         line-height: 2rem;
      }
      &__select-zone {
         width: 6.5rem;
         height: 34px;
         margin: 0 -3.2rem 0 .7rem;
         padding: 2px 35px 5px 1px;

         border: transparent;
         background: none;

         -webkit-appearance: none;
            -moz-appearance: none;
                 appearance: none;
         &__icon {
            color: #CBCBCB;
         }
      }
   }
   &__prices {
      max-width: 55.5rem;
      margin: 2.4rem auto 0 auto;

      border: 1px solid #D9D9D9;

      $table-padding: 2.55rem;
      &__item {
         @include row-flex();
         &:last-child p:after {
            display: none;
         }
         &:first-child p:nth-child(1):after {
            left: -.8rem;

            width: 11.5rem;
         }
         &:first-child p:nth-child(2):after {
            left: -2rem;

            width: 12.8rem;
         }
         &:first-child p:nth-child(3):after {
            left: -2.1rem;

            width: 12.8rem;
         }
         &:first-child p:nth-child(4):after {
            left: -2.2rem;

            width: 11.5rem;
         }
         &:first-child p:before {
            top: -1.6rem;
         }
         &:last-child p:before {
            top: -2rem;
         }
         &__text {
            display: inline;

            box-sizing: border-box;
            margin: 0 auto;
            padding: $table-padding;

            color: #CBCBCB;

            font-size: .875rem;
            font-weight: 500;

            @include size(3);
            @include size-sm(6);
            &:after {
               position: relative;
               top: 2.6rem;
               left: -2rem;

               display: block;

               width: 12.5rem;
               height: 1px;

               content: "";

               background: #D9D9D9;

               @include sm(background,
               transparent);
            }
            &:before {
               position: relative;
               top: -1.8rem;
               left: -2.6rem;

               display: block;

               width: 1px;
               height: 4.6rem;
               margin-bottom: -4.8rem;

               content: "";

               background: #D9D9D9;
            }
            &:first-child::before {
               background: transparent;
            }
         }
      }
   }
}

.packages {
   height: 17.7rem;
   padding-top: 6.3rem;

   background: url("images/packages_background.png");
   background-size: cover;

   @include md(margin-bottom,
   65rem);
   @include xs(margin-bottom,
   155rem);
   &__items {
      @include wrapper();
      @include row-flex($noWrapp: true);
      @include md(flex-wrap,
      wrap);
      &__package {
         padding-bottom: 1rem;

         cursor: pointer;

         background: #FFF;
         box-shadow: 0 .188rem .625rem rgba(0, 0, 0, .06);

         @include size(3);
         @include md(width,
         40%);
         @include xs(width,
         80%);
         @include md(margin,
         0 auto 5rem auto);
         &:not(:first-child) {
            margin-left: 3.7rem;

            @include md(margin-left,
            auto);
         }
         &__top-line {
            width: 100%;
            height: .313rem;
         }
         &__icon {
            position: relative;
            left: -.2rem;

            width: 27%;
            margin: 2.2rem auto 0 auto;

            justify-content: space-around;
            .circular-chart {
               display: block;

               max-width: 80%;
               max-height: 250px;
               margin: 10px auto;
            }
            .circle-bg {
               fill: none;
               stroke: transparent;
               stroke-width: 2.8;
            }
            .circle {
               fill: none;
               //stroke-dasharray: 50;
               stroke-linecap: round;
               stroke-width: 3.8;
            }
            .yellow-icon {
               fill: #F9D423;
            }
            .grey-icon {
               fill: #7F8C8D;
            }
            .red-icon {
               fill: #F85F40;
            }
            .green-icon {
               fill: #1ABC9C;
            }
            .icon {
               font-family: FontAwesome;
               font-size: .7em;
               font-weight: 200;

               text-anchor: middle;
            }
         }
         &__name {
            margin: 1rem auto 1.1rem auto;

            text-transform: uppercase;

            color: #282828;

            font-size: 1rem;
            font-weight: 700;
         }
         &__hr {
            width: 77%;
            height: .063rem;
            margin: .8rem auto .2rem auto;

            border: none;
            background: #DFDFDF;
         }
         &__description {
            width: 88%;
            margin: 0 auto;
            &__key {
               display: inline-block;

               margin: .8rem auto .4rem auto;
               margin-bottom: .4rem;

               color: #B4B4B4;

               font-size: 1rem;
               font-weight: 300;
               &:last-child {
                  margin-bottom: .6rem;
               }
            }
            &__value {
               float: right;

               margin: .8rem auto .4rem auto;

               background: none!important;

               font-size: 1rem;
               font-weight: 700;
            }
         }
         &__price {
            &__value {
               margin: 1.7rem auto .1rem auto;

               color: #2C2C2C;

               font-size: 1.75rem;
               font-weight: 700;
               .currency {
                  position: relative;
                  top: -.5rem;

                  font-size: 1.063rem;
                  font-weight: 800;
               }
               .month {
                  color: #8D8D8D;

                  font-size: .813rem;
                  font-weight: 400;
               }
            }
            .price-line {
               width: 41%;
               height: .25rem;
               margin: 0 auto;
            }
         }
      }
   }
}

.about {
   margin: 23.9rem auto 0 auto;
   &__content {
      padding-bottom: 5rem;

      @include wrapper();
      .bold-text {
         font-weight: 900;
      }
      &__hr {
         height: 2px;
         margin-bottom: 6rem;

         border: none;
         background: url("images/dotted_hr.svg");
      }
      .vertical-hr {
         position: relative;
         top: 6rem;
         left: -5rem;

         width: 12rem;
         margin-bottom: 0rem;

         transform: rotate(90deg);

         @include lg(display,
         none);
      }
      &__items {
         display: flex;

         @include md(flex-direction,
         column-reverse);
         justify-content: space-between;
         &__description {
            &__header {
               text-align: left;

               font-size: 2.188rem;

               @include md(text-align,
               center);
               @include md(margin-top,
               2rem);
            }
            &__text {
               max-width: 27rem;

               text-align: left;

               color: #747474;

               font-size: 1.125rem;
               line-height: 1.693rem;

               @include md(text-align,
               center);
               @include md(margin,
               2rem auto 0 auto);
            }
         }
         &__team {
            position: relative;
            left: 7.5rem;

            display: flex;

            margin: .5rem auto;

            @include lg(left,
            0);
            justify-content: flex-end;
            &__item {
               min-width: 10rem;
               margin-right: 4.4rem;

               text-align: center;

               @include xs(min-width,
               8rem);
               @include lg(margin-right,
               0);
               &__image {
                  width: 100%;
                  max-width: 5.625rem;

                  border: .313rem solid rgba(0, 0, 0, .1);
                  border-radius: 50%;
               }
               &__name {
                  margin: .6rem auto 0 auto;

                  color: #303030;

                  font-size: 1.063rem;
                  font-weight: 700;
               }
               &__position {
                  margin: .4rem auto .6rem auto;

                  font-size: .938rem;
                  font-weight: 400;
               }
               &__social {
                  display: flex;

                  max-width: 7.5rem;
                  margin: 0 auto;
                  a {
                     display: inline-block;

                     width: 33.33%;

                     text-align: center;

                     color: #BFBFBF;
                     &:hover {
                        color: #1F89BA;
                     }
                  }
               }
            }
         }
      }
   }
}

.quotes {
   height: 11.875rem;

   background: url("images/packages_background.png");

   @include sm(height,
   inherit);
   @include wrapper-full();
   &__content {
      padding: 3rem 0;
      .active {
         display: block;
      }
      &__right-control {
         float: right;

         margin-right: -30px;
         &:hover {
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .83));
         }
      }
      &__left-control {
         float: left;

         margin-left: -30px;
         &:hover {
            background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .83));
         }
      }
      &__right-control    ,&__left-control {
         margin-top: -3rem;
         padding: 0 5rem;

         cursor: pointer;

         opacity: .5;
         color: #BFBFBF;

         font-size: 4rem;
         line-height: 11.875rem;

         @include sm(padding,
         0 2rem);
      }
      &__text {
         display: none;

         max-width: 55.375rem;
         min-height: 3.5rem;
         margin: 0rem auto 0 auto;

         animation: fadeInFromNone 2s ease-out;

         color: #FFF;

         font-size: 1.25rem;
         line-height: 1.75rem;

         @include sm(min-height,
         9rem);
         @keyframes fadeInFromNone {
            0% {
               display: none;

               opacity: 0;
            }
            1% {
               display: block;

               opacity: 0;
            }
            100% {
               display: block;

               opacity: 1;
            }
         }
      }
      &__description {
         display: flex;

         max-width: 15rem;
         margin: 1.2rem auto 0 auto;
         padding-right: 5rem;

         align-items: center;
         justify-content: space-between;
         &__name {
            display: none;

            width: 9rem;
            margin: 0 .8rem 0 auto;
            padding-right: .7rem;

            text-align: right;

            color: #FFF;
            border-right: 1px solid #FFF;

            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1rem;
         }
         &__bubbles {
            display: flex;
            &__item {
               width: .375rem;
               height: .375rem;

               border: 1px solid #FFF;
               border-radius: 50%;
               &:not(:first-child) {
                  margin-left: .8rem;
               }
            }
            .select {
               background: #FFF;
            }
         }
      }
   }
}

.advantages {
   max-width: 1300px;
   margin: 0 auto;
   padding: 6.2rem 0 6rem 0;
   padding-right: 30px;
   padding-left: 30px;

   @include row-flex();
   &__item {
      @include size(3);
      &__image {
         display: flex;

         width: 3.75rem;
         height: 3.75rem;
         margin: 0 auto;

         color: #FFF;
         border-radius: 50%;

         font-size: 1.75rem;

         align-items: center;
         justify-content: center;
      }
      &__name {
         margin-bottom: .1rem;

         color: #303030;

         font-size: 1.125rem;
         font-weight: 700;
      }
      &__text {
         max-width: 17rem;
         margin: 0 auto;

         color: #7E7E7E;

         font-size: 1rem;
         line-height: 1.377rem;
      }
   }
}

.footer {
   padding-bottom: 5rem;

   background: #2A2A2A;
   .navigation {
      border-color: #4A4A4A;
      &__list {
         &__item a {
            padding: 1.8rem 0;

            color: #686868;

            font-size: .813rem;
            font-weight: 600;
            &::after {
               display: none;
            }
            &:hover {
               color: #FFF;
            }
         }
         &__item {
            &:not(:last-child) {
               margin-right: 2.9rem;
            }
         }
      }
   }
   &__info {
      padding-top: 3rem;

      @include row-flex();
      @include wrapper();
      &__about {
         @include size(4);
         &:after {
            display: block;

            width: 1px;
            height: 10rem;

            content: "";

            background: #686868;
         }
         &__text    ,&__designBy {
            max-width: 19rem;
            margin: .2rem auto .7rem 0;

            text-align: left;

            color: #686868;

            font-size: .938rem;
            font-weight: 400;
            line-height: 1.625rem;
         }
         &__designBy {
         }
      }
      &__links {
         display: flex;

         max-width: 15rem;
         margin: 0 auto;

         @include size(4);
         justify-content: center;
         &:after {
            display: block;

            width: 1px;
            height: 10rem;

            content: "";

            background: #686868;
         }
         &__list {
            list-style: none;
            &__item {
               color: #686868;

               font-size: .938rem;
               font-weight: 400;
               line-height: 1.815rem;
               &:before {
                  content: "\f105";

                  font-family: "FontAwesome";
                  font-size: .875rem;
               }
            }
         }
      }
      &__contacts {
         color: #686868;

         font-size: .938rem;
         font-weight: 400;

         @include size(4);
      }
   }
}
