@import "./libraries/smart_grid/smart-grid.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@include reset();
@font-face {
   font-family: "Myriad Pro";

   src: url("fonts/MyriadPro-Bold.woff");
}

@font-face {
   font-family: "Georgia";

   src: url("fonts/Georgia-Italic.woff");
}

$dark-blue: #21424B;
$green: #2FAB6C;
$button-darken-value: 8%;
html {
   font-family: Lato;
   font-size: 16px;

   @include xlg(font-size,
   15px);
   @include md(font-size,
   14px);
   @include xs(font-size,
   12px);
}

body {
   max-width: $break_xlg;
   margin: 0 auto;
}

.h1 {
   text-align: center;
   text-transform: uppercase;

   color: #FFF;

   font-family: "Myriad Pro";
   font-size: 4.5rem;
}

.h2 {
   text-align: center;

   color: #FFF;

   font-family: Georgia;
   font-size: 2rem;
   line-height: 2.938rem;
}

.h3 {
   text-align: center;

   color: #383737;

   font-family: "Lato";
   font-size: 1.5rem;
   font-weight: 700;
}

p {
   margin: 1.3rem 0;

   text-align: center;

   color: #A2A2A2;

   font-family: "Lato";
   font-size: 1.17rem;
   font-weight: 300;
}

.button {
   position: relative;
   left: 1.2rem;

   display: flex;

   width: 98%;
   height: 7.5rem;

   cursor: pointer;
   transform: skew(-13deg);
   pointer-events: all;

   color: #FFF;
   background: #21424B;

   align-items: center;
   justify-content: center;
   &:hover {
      background: darken($dark-blue, $button-darken-value);
   }
   &__text {
      position: relative;
      left: 5.8rem;

      transform: skew(13deg);
      text-align: center;
      text-transform: uppercase;

      color: #FFF;

      font-size: 1.375rem;
      font-weight: 700;

      @include lg(position,
      static);
   }
   &__green {
      left: -.3rem;

      background: $green;
      &:hover {
         background: darken($green, $button-darken-value);
      }
      .button__text {
         left: -5.4rem;
      }
   }
}

::placeholder {
   color: #868686;

   font-size: .938rem;
   font-weight: 700;
}

.header {
   background: linear-gradient(rgba(0, 0, 0, .83), rgba(0, 0, 0, .83)), url("images/header_background.jpg");
   background-size: cover;

   @include wrapper-full();
   &__logo {
      &__image {
         position: relative;
         top: .2rem;
         left: .35rem;

         width: 100%;
         max-width: 8.125rem;
      }
   }
   &__navigation {
      display: flex;

      border-bottom: 1px #2A2A2C solid;

      align-items: center;
      @include wrapper($noFields: true);
      justify-content: space-between;
   }
   &__list {
      @include row-flex();
      justify-content: flex-end;
      &__item {
         padding: 2.2rem 0;

         cursor: pointer;
         text-align: center;

         color: #FFF;

         font-size: 1rem;
         font-weight: 400;

         @include sm(padding,
         .5rem);
         @include size-sm(3);
         &:not(:last-child) {
            margin-right: 4.3rem;

            @include sm(margin-right,
            0rem);
         }
         &:after {
            position: relative;
            top: 2.15rem;

            display: block;

            height: 1px;

            content: "";

            background: transparent;
         }
         &:hover:after {
            background: #FFF;
         }
      }
   }
   .h1 {
      margin: 20.5rem auto .2rem auto;
   }
   .h2 {
      padding-bottom: 21.3rem;
   }
}

.authorization {
   display: flex;

   @include wrapper-full($noFields: true);
   &__login, &__register {
      width: 50%;

      pointer-events: none;

      background: $dark-blue;
      &:hover {
         background: darken($dark-blue, $button-darken-value);
      }
   }
   &__register {
      background: $green;
      &:hover {
         background: darken($green, $button-darken-value);
      }
   }
}

.chooseDomain {
   padding-top: 5.35rem;
   padding-bottom: 50rem;

   @include wrapper();
   &__inputs {
      display: flex;

      max-width: 53.9rem;
      margin: 2.8rem auto 0 auto;
      padding: .5rem .8rem;

      border: #D9D9D9 1px solid;

      align-items: center;
      &__select-zone, &__www {
         margin: 0 .8rem 0 0;

         color: #D9D9D9;

         font-size: 1rem;
         font-weight: 400;
      }
      &__domain-name {
         width: 82.6%;
         padding-left: 1rem;

         border: #D9D9D9 1px solid;
         border-top: none;
         border-bottom: none;

         line-height: 2rem;
      }
      &__select-zone {
         width: 150px;
         height: 34px;
         margin: 0 -6rem 0 .5rem;
         padding: 5px 35px 5px 5px;

         border: transparent;
         background: none;

         -webkit-appearance: none;
            -moz-appearance: none;
                 appearance: none;
         &__icon {
            color: #CBCBCB;
         }
      }
   }
   &__prices {
      max-width: 53.9rem;
      margin: 0 auto;
      padding: 1rem;

      border: 1px solid #D9D9D9;
      &__item {
         @include row-flex();
         &:first-child p {
            border-top: none;
         }
         &__text {
            display: flex;

            box-sizing: border-box;
            margin: 0 auto;
            padding: 3rem 0;

            border: 1px solid #D9D9D9;

            font-size: .875rem;

            align-items: center;
            @include size(3);
            justify-content: center;
            &:nth-child(1n+1) {
               border-bottom: none;
               border-left: none;
            }
            &:last-child {
               border-right: none;
            }
            &:not(:last-child):after {
               position: relative;
               top: 3rem;
               left: 0rem;

               display: block;

               width: 1rem;
               height: 1rem;

               content: "";

               border-radius: 50%;
               background: #000;
            }
         }
      }
   }
}
